****
## JSON exercise

Using data in file 'data/world_bank_projects.json' and the techniques demonstrated above,
1. Find the 10 countries with most projects
2. Find the top 10 major project themes (using column 'mjtheme_namecode')
3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.

## imports for Python, Pandas, json

In [4]:
import pandas as pd
import json
from pandas.io.json import json_normalize

#pd.set_option('display.height', 1000)
#pd.set_option('display.max_rows', 1000)
#pd.set_option('display.max_columns', 1000)
#pd.set_option('display.width', 1000)
#pd.set_option('display.max_colwidth', -1)

sample_json_df = pd.read_json('data/world_bank_projects.json')
sample_json_df.head(2)

,_id,approvalfy,board_approval_month,boardapprovaldate,borrower,closingdate,country_namecode,countrycode,countryname,countryshortname,...,sectorcode,source,status,supplementprojectflg,theme1,theme_namecode,themecode,totalamt,totalcommamt,url
0,{'$oid': '52b213b38594d8a2be17c780'},1999,November,2013-11-12T00:00:00Z,FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA,2018-07-07T00:00:00Z,Federal Democratic Republic of Ethiopia!$!ET,ET,Federal Democratic Republic of Ethiopia,Ethiopia,...,"ET,BS,ES,EP",IBRD,Active,N,"{'Percent': 100, 'Name': 'Education for all'}","[{'code': '65', 'name': 'Education for all'}]",65,130000000,130000000,http://www.worldbank.org/projects/P129828/ethi...
1,{'$oid': '52b213b38594d8a2be17c781'},2015,November,2013-11-04T00:00:00Z,GOVERNMENT OF TUNISIA,NaN,Republic of Tunisia!$!TN,TN,Republic of Tunisia,Tunisia,...,"BZ,BS",IBRD,Active,N,"{'Percent': 30, 'Name': 'Other economic manage...","[{'code': '24', 'name': 'Other economic manage...","54,24",0,4700000,http://www.worldbank.org/projects/P144674?lang=en

****
# 1. Find the 10 countries with most projects
****

##### Select country code and country short name from json dataframe. Group by country code and take the count. Sort resulting dataframe by counts descending. Select top 10 values from resulting dataframe.

In [8]:
top10CountriesProjCt = sample_json_df[['countrycode', 'countryshortname']] \
                             .groupby(['countrycode', 'countryshortname'])['countrycode'] \
                             .count() \
                             .reset_index(name='counts') \
                             .sort_values(['counts'], ascending=False) \
                             .head(10)
top10CountriesProjCt

    countrycode    countryshortname  counts
45           ID           Indonesia      19
28           CN               China      19
110          VN             Vietnam      17
46           IN               India      16
88           RY  Yemen, Republic of      13
60           MA             Morocco      12
15           BD          Bangladesh      12
78           NP               Nepal      12
1            3A              Africa      11
73           MZ          Mozambique      11

### Indonesia, China, Vietnam, India, Yemen, Morocco, Bangladesh, Nepal, Africa, Mozambique are top 10 countries with most projects.

#### Suppose the question is - Find top most contry with heighest number of project? In that case there are two countries with 19 projects. I feel choose top countries based on their ranking is a better idea.

In [10]:
# Top 10 countries based on dense ranking
top10CountriesProjCtDRank = sample_json_df[['countrycode', 'countryshortname']] \
                             .groupby(['countrycode', 'countryshortname'])['countrycode'] \
                             .count() \
                             .reset_index(name='counts') \
                             .sort_values(['counts'], ascending=False) 

top10CountriesProjCtDRank['Rank'] = top10CountriesProjCtDRank.counts.rank(method='dense', ascending =False).astype(int)
top10CountriesProjCtDRank[top10CountriesProjCtDRank['Rank'] < 11]

    countrycode                  countryshortname  counts  Rank
45           ID                         Indonesia      19     1
28           CN                             China      19     1
110          VN                           Vietnam      17     2
46           IN                             India      16     3
88           RY                Yemen, Republic of      13     4
60           MA                           Morocco      12     5
15           BD                        Bangladesh      12     5
78           NP                             Nepal      12     5
1            3A                            Africa      11     6
73           MZ                        Mozambique      11     6
83           PK                          Pakistan       9     7
16           BF                      Burkina Faso       9     7
20           BR                            Brazil       9     7
10           AM                           Armenia       8     8
105          TZ                          Tanzania       8     8
99           TJ                        Tajikistan       8     8
48           JO                            Jordan       7     9
76           NG                           Nigeria       7     9
50           KG                   Kyrgyz Republic       7     9
55           LA  Lao People's Democratic Republic       7     9
49           KE                             Kenya       6    10
41           GZ                West Bank and Gaza       6    10
77           NI                         Nicaragua       6    10
7            AF                       Afghanistan       6    10
116          ZR     Congo, Democratic Republic of       6    10
80           PE                              Peru       6    10

 #### Indonesia, China, Vietnam, India, Yemen, Morocco, Bangladesh, Nepal, Africa, Mozambique, Pakistan, Burkina Faso, Brazil, Armenia, Tanzania, Tajikistan, Jordan, Nigeria, Kyrgyz Republic, Lao People''s Democratic Republic, Kenya, West Bank and Gaza, Nicaragua, Afghanistan, Congo, Peru are top 10 ranked countries with more number projects.

****
# 2. Find the top 10 major project themes (using column 'mjtheme_namecode')
****

##### Read json file using json.load. It becomes easy to normalize nested jason when you read it as list of strings. Normalize mjtheme_namecode column. Count total number of projects per theme code. Sort the result by counts descending. Create a look up table for themes. Then find top 10 project theme names.

## imports for Python, Pandas, json, numpy

In [32]:
import pandas as pd
import json
import numpy as np
from pandas.io.json import json_normalize
json_data=json.load((open('data/world_bank_projects.json')))
json_data[0]

{'_id': {'$oid': '52b213b38594d8a2be17c780'},
 'approvalfy': 1999,
 'board_approval_month': 'November',
 'boardapprovaldate': '2013-11-12T00:00:00Z',
 'borrower': 'FEDERAL DEMOCRATIC REPUBLIC OF ETHIOPIA',
 'closingdate': '2018-07-07T00:00:00Z',
 'country_namecode': 'Federal Democratic Republic of Ethiopia!$!ET',
 'countrycode': 'ET',
 'countryname': 'Federal Democratic Republic of Ethiopia',
 'countryshortname': 'Ethiopia',
 'docty': 'Project Information Document,Indigenous Peoples Plan,Project Information Document',
 'envassesmentcategorycode': 'C',
 'grantamt': 0,
 'ibrdcommamt': 0,
 'id': 'P129828',
 'idacommamt': 130000000,
 'impagency': 'MINISTRY OF EDUCATION',
 'lendinginstr': 'Investment Project Financing',
 'lendinginstrtype': 'IN',
 'lendprojectcost': 550000000,
 'majorsector_percent': [{'Name': 'Education', 'Percent': 46},
  {'Name': 'Education', 'Percent': 26},
  {'Name': 'Public Administration, Law, and Justice', 'Percent': 16},
  {'Name': 'Education', 'Percent': 12}],
 'mjsector_namecode': [{'code': 'EX', 'name': 'Education'},
  {'code': 'EX', 'name': 'Education'},
  {'code': 'BX', 'name': 'Public Administration, Law, and Justice'},
  {'code': 'EX', 'name': 'Education'}],
 'mjtheme': ['Human development'],
 'mjtheme_namecode': [{'code': '8', 'name': 'Human development'},
  {'code': '11', 'name': ''}],
 'mjthemecode': '8,11',
 'prodline': 'PE',
 'prodlinetext': 'IBRD/IDA',
 'productlinetype': 'L',
 'project_abstract': {'cdata': 'The development objective of the Second Phase of General Education Quality Improvement Project for Ethiopia is to improve learning conditions in primary and secondary schools and strengthen institutions at different levels of educational administration. The project has six components. The first component is curriculum, textbooks, assessment, examinations, and inspection. This component will support improvement of learning conditions in grades KG-12 by providing increased access to teaching and learning materials and through improvements to the curriculum by assessing the strengths and weaknesses of the current curriculum. This component has following four sub-components: (i) curriculum reform and implementation; (ii) teaching and learning materials; (iii) assessment and examinations; and (iv) inspection. The second component is teacher development program (TDP). This component will support improvements in learning conditions in both primary and secondary schools by advancing the quality of teaching in general education through: (a) enhancing the training of pre-service teachers in teacher education institutions; and (b) improving the quality of in-service teacher training. This component has following three sub-components: (i) pre-service teacher training; (ii) in-service teacher training; and (iii) licensing and relicensing of teachers and school leaders. The third component is school improvement plan. This component will support the strengthening of school planning in order to improve learning outcomes, and to partly fund the school improvement plans through school grants. It has following two sub-components: (i) school improvement plan; and (ii) school grants. The fourth component is management and capacity building, including education management information systems (EMIS). This component will support management and capacity building aspect of the project. This component has following three sub-components: (i) capacity building for education planning and management; (ii) capacity building for school planning and management; and (iii) EMIS. The fifth component is improving the quality of learning and teaching in secondary schools and universities through the use of information and communications technology (ICT). It has following five sub-components: (i) national policy and institution for ICT in general education; (ii) national ICT infrastructure improvement plan for general education; (iii) develop an integrated monitoring, evaluation, and learning system specifically for the ICT component; (iv) teacher professional development in the use of ICT; and (v) provision of limited number of e-Braille display readers with the possibility to scale up to all secondary education schools based on the successful implementation and usage of the readers. The sixth component is program coordination, monitoring and evaluation, and communication. It will support institutional strengthening by developing capacities in all aspects of program coordination, monitoring and evaluation; a new sub-component on communications will support information sharing for better management and accountability. It has following three sub-components: (i) program coordination; (ii) monitoring and evaluation (M and E); and (iii) communication.'},
 'project_name': 'Ethiopia General Education Quality Improvement Project II',
 'projectdocs': [{'DocDate': '28-AUG-2013',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b081e545fb_1_0',
   'EntityID': '090224b081e545fb_1_0'},
  {'DocDate': '01-JUL-2013',
   'DocType': 'IP',
   'DocTypeDesc': 'Indigenous Peoples Plan (IP),  Vol.1 of 1',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=000442464_20130920111729',
   'EntityID': '000442464_20130920111729'},
  {'DocDate': '22-NOV-2012',
   'DocType': 'PID',
   'DocTypeDesc': 'Project Information Document (PID),  Vol.',
   'DocURL': 'http://www-wds.worldbank.org/servlet/WDSServlet?pcont=details&eid=090224b0817b19e2_1_0',
   'EntityID': '090224b0817b19e2_1_0'}],
 'projectfinancialtype': 'IDA',
 'projectstatusdisplay': 'Active',
 'regionname': 'Africa',
 'sector': [{'Name': 'Primary education'},
  {'Name': 'Secondary education'},
  {'Name': 'Public administration- Other social services'},
  {'Name': 'Tertiary education'}],
 'sector1': {'Name': 'Primary education', 'Percent': 46},
 'sector2': {'Name': 'Secondary education', 'Percent': 26},
 'sector3': {'Name': 'Public administration- Other social services',
  'Percent': 16},
 'sector4': {'Name': 'Tertiary education', 'Percent': 12},
 'sector_namecode': [{'code': 'EP', 'name': 'Primary education'},
  {'code': 'ES', 'name': 'Secondary education'},
  {'code': 'BS', 'name': 'Public administration- Other social services'},
  {'code': 'ET', 'name': 'Tertiary education'}],
 'sectorcode': 'ET,BS,ES,EP',
 'source': 'IBRD',
 'status': 'Active',
 'supplementprojectflg': 'N',
 'theme1': {'Name': 'Education for all', 'Percent': 100},
 'theme_namecode': [{'code': '65', 'name': 'Education for all'}],
 'themecode': '65',
 'totalamt': 130000000,
 'totalcommamt': 130000000,
 'url': 'http://www.worldbank.org/projects/P129828/ethiopia-general-education-quality-improvement-project-ii?lang=en'}

In [42]:
jsonNorm = json_normalize(json_data, 'mjtheme_namecode', ['countrycode', 'project_name'])
jsonNorm['code'] = pd.to_numeric(jsonNorm['code'])
jsonNorm.head(2)

,code,name,countrycode,project_name
0,8,Human development,ET,Ethiopia General Education Quality Improvement...
1,11,,ET,Ethiopia General Education Quality Improvement...

In [60]:
top10ProjThemes = jsonNorm[['code']] \
                             .groupby(['code'])['code'] \
                             .count() \
                             .reset_index(name='counts') \
                             .sort_values(['counts'], ascending=False) 
top10ProjThemes.head(10)

    code  counts
10    11     250
9     10     216
7      8     210
1      2     199
5      6     168
3      4     146
6      7     130
4      5      77
8      9      50
0      1      38

In [61]:
json_data_lookup = json_normalize(json_data, 'mjtheme_namecode').drop_duplicates().sort_values(by=['code'])
json_data_lookup.head(2)

    code                 name
2      1  Economic management
212    1

In [62]:
json_data_lookup['code'] = pd.to_numeric(json_data_lookup['code'])
json_data_lookup = json_data_lookup.groupby('code', sort=True)['name'].max().to_frame()
json_data_lookup.reset_index(inplace=True)
json_data_lookup

    code                                          name
0      1                           Economic management
1      2                      Public sector governance
2      3                                   Rule of law
3      4      Financial and private sector development
4      5                         Trade and integration
5      6         Social protection and risk management
6      7                   Social dev/gender/inclusion
7      8                             Human development
8      9                             Urban development
9     10                             Rural development
10    11  Environment and natural resources management

In [63]:
if (top10ProjThemes['code'].dtype == json_data_lookup['code'].dtype):
    print('You can join datafrmes')
else:
    print('Convert column to correct data type')

You can join datafrmes

In [70]:
result = pd.merge(top10ProjThemes, json_data_lookup, on=['code'])
result

                                            name
0   Environment and natural resources management
1                              Rural development
2                              Human development
3                       Public sector governance
4          Social protection and risk management
5       Financial and private sector development
6                    Social dev/gender/inclusion
7                          Trade and integration
8                              Urban development
9                            Economic management
10                                   Rule of law

#### Environment and natural resources management, Rural development, Human development, Public sector governance, Social protection and risk management, Financial and private sector development, Social dev/gender/inclusion, Trade and integration, Urban development, Economic management, Rule of law are 10 major project themes

****
# 3. In 2. above you will notice that some entries have only the code and the name is missing. Create a dataframe with the missing names filled in.
****

##### Replace missing values in results dataframe with NaN. Join fillMissingNaN dataframe with theme lookup table. it will create name_x and name_y. Create a new column name and merge name_x and name_y by taking max between the two. Drop name_x and name_y.

In [74]:
fillMissingNaN = jsonNorm.replace(r'^\s*$', np.nan, regex=True)
merged = pd.merge(left=jsonNorm,right=json_data_lookup, how='inner', on='code')
merged['name'] = np.max(merged[['name_x', 'name_y']], axis=1)
merged = merged.drop(labels=['name_x', 'name_y'], axis=1)
merged

,code,countrycode,project_name,name
0,8,ET,Ethiopia General Education Quality Improvement...,Human development
1,8,CN,China Renewable Energy Scale-Up Program Phase II,Human development
2,8,MG,Emergency Support to Education For all Project,Human development
3,8,KH,Additional Financing for the Second Health Sec...,Human development
4,8,KH,Additional Financing for the Second Health Sec...,Human development
5,8,KH,Additional Financing for the Second Health Sec...,Human development
6,8,TJ,Tajikistan JSDF Nutrition Grant Scale Up,Human development
7,8,TJ,Tajikistan JSDF Nutrition Grant Scale Up,Human development
8,8,LA,Lao PDR Ninth Poverty Reduction Support Operation,Human development
9,8,AO,Angola Learning for All Project,Human development
10,8,BD,Additional Financing: Skills and Training Enha...,Human development
11,8,CG,Congo Skills Development for Employability Pro...,Human development
12,8,ST,Sao Tome & Principe-Extractive Industries Tran...,Human development
13,8,3A,West Africa Regional Disease Surveillance Cap...,Human development
14,8,SL,SL-RCHP2 Add'l Financing (FY13),Human development
15,8,SL,SL-RCHP2 Add'l Financing (FY13),Human development
16,8,SL,SL-RCHP2 Add'l Financing (FY13),Human development
17,8,LB,LB: Mobile Internet Ecosystem Project (MIEP),Human development
18,8,TJ,Tajikistan Health Services Improvement Project...,Human development
19,8,TJ,Tajikistan Health Services Improvement Project...,Human development
20,8,TJ,Tajikistan Health Services Improvement Project...,Human development
21,8,KG,Programmatic Development Policy Operation 1,Human development
22,8,MZ,Ninth Poverty Reduction Support Credit (PRSC 9),Human development
23,8,TJ,Global Partnership for Education (GPE)-4,Human development
24,8,ZW,Additional Financing Health Sector Development...,Human development
25,8,ZW,Additional Financing Health Sector Development...,Human development
26,8,ML,Mali Emergency Education For All Project,Human development
27,8,ML,Mali Emergency Education For All Project,Human development
28,8,AF,Afghanistan Agricultural Inputs Project (AAIP),Human development
29,8,GE,Georgia Competitiveness and Growth DPO2,Human development
...,...,...,...,...
1469,9,CO,Productive and Sustainable Cities Development ...,Urban development
1470,9,CO,Productive and Sustainable Cities Development ...,Urban development
1471,9,CO,Productive and Sustainable Cities Development ...,Urban development
1472,9,GZ,GZ-Gaza Water Supply & Sewage System Improvement,Urban development
1473,9,TZ,Urban Local Government Strengthening Program,Urban development
1474,9,BO,BO Urban Infrastructure Project (II) Additiona...,Urban development
1475,9,NP,Output-Based Aid for Municipal Solid Waste Man...,Urban development
1476,9,3A,First Part of the Second Phase of the Niger Ba...,Urban development
1477,9,BD,BD: Reaching Out of School Children II,Urban development
1478,9,PK,PK: Punjab Cities Governance Improvement,Urban development
1479,9,PK,PK: Punjab Cities Governance Improvement,Urban development
1480,9,ID,Indonesia Infrastructure Guarantee Fund Project,Urban development
1481,9,PG,Papua New Guinea Settlement Upgrading Programme,Urban development
1482,9,PG,Papua New Guinea Settlement Upgrading Programme,Urban development
1483,9,KE,KENYA: NATIONAL URBAN TRANSPORT IMPROVEMENT PR...,Urban development
1484,3,GN,Guinea - MSME Development Project,Rule of law
1485,3,PL,Development Policy Loan 2,Rule of law
1486,3,TR,Competitiveness and Savings Development Policy...,Rule of law
1487,3,SD,Sustainable livelihoods for displaced and vuln...,Rule of law
1488,3,ID,PNPM Justice Services,Rule of law
1489,3,ID,PNPM Justice Services,Rule of law
1490,3,BI,Emergency Demobilization and Transitional Rein...,Rule of law
1491,3,NI,Second Land Administration Project (PRODEP II),Rule of law
1492,3,AL,Second MDTF for Capacity Building Support to I...,Rule of law
1493,3,KE,Judicial Performance Improvement,Rule of law
1494,3,BA,REAL ESTATE REGISTRATION PROJECT,Rule of law
1495,3,BO,BO Urban Infrastructure Project (II) Additiona...,Rule of law
1496,3,SN,Community Peacebuilding Initiatives in Casaman...,Rule of law
1497,3,SC,FIRST SUSTAINABILITY AND COMPETITVENESS DEVELO...,Rule of law
1498,3,PK,Punjab Land Records Management and Information...,Rule of law