In [1]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:100% !important; }</style>"))


import numpy as np # scientific computing with Python
import pandas as pd # data processing and data analysis tools
pd.set_option('display.max_colwidth', -1)
import matplotlib.pyplot as plt
% matplotlib inline
import seaborn as sns

train = pd.read_json("../Two Sigma/train.json")
train.head(1)

,bathrooms,bedrooms,building_id,created,description,display_address,features,interest_level,latitude,listing_id,longitude,manager_id,photos,price,street_address
10,1.5,3,53a5b119ba8f7b61d4e010512e0dfc85,2016-06-24 07:54:24,A Brand New 3 Bedroom 1.5 bath ApartmentEnjoy These Following Apartment Features As You Rent Here? Modern Designed Bathroom w/ a Deep Spa Soaking Tub? Room to Room AC/Heat? Real Oak Hardwood Floors? Rain Forest Shower Head? SS steel Appliances w/ Chef Gas Cook Oven & LG Fridge? washer /dryer in the apt? Cable Internet Ready? Granite Counter Top Kitchen w/ lot of cabinet storage spaceIt's Just A Few blocks To L Train<br /><br />Don't miss out!<br /><br />We have several great apartments in the immediate area.<br /><br />For additional information 687-878-2229<p><a website_redacted,Metropolitan Avenue,[],medium,40.7145,7211212,-73.9425,5ba989232d0489da1b5f2c45f6688adc,"[https://photos.renthop.com/2/7211212_1ed4542ec81621d70d1061aa833e669c.jpg, https://photos.renthop.com/2/7211212_7dfc41dced69245065df83d08eed4a00.jpg, https://photos.renthop.com/2/7211212_c17853c4b869af6f53af08b0f5820b4c.jpg, https://photos.renthop.com/2/7211212_787ad8ea0c089792e7453e2121f8ac89.jpg, https://photos.renthop.com/2/7211212_2e88b0d293ee333c804c2f00536eee49.jpg]",3000,792 Metropolitan Avenue

In [2]:
train.dtypes

bathrooms          float64
bedrooms           int64
building_id        object
created            object
description        object
display_address    object
features           object
interest_level     object
latitude           float64
listing_id         int64
longitude          float64
manager_id         object
photos             object
price              int64
street_address     object
dtype: object

In [3]:
train['features_count'] = train['features'].str.len()
train['photos_count'] = train['photos'].str.len()
train["interest_level"] = train["interest_level"].astype('category')
train["interest_level"] = train["interest_level"].cat.codes

In [4]:
train.dtypes

bathrooms          float64
bedrooms           int64
building_id        object
created            object
description        object
display_address    object
features           object
interest_level     int8
latitude           float64
listing_id         int64
longitude          float64
manager_id         object
photos             object
price              int64
street_address     object
features_count     int64
photos_count       int64
dtype: object

In [5]:
train.drop(['latitude', 'longitude', 'listing_id'], axis=1, inplace=True)
train[train['interest_level'].notnull()].corr()

,bathrooms,bedrooms,interest_level,price,features_count,photos_count
bathrooms,1.000000,0.533446,-0.013183,0.069661,0.230389,0.147980
bedrooms,0.533446,1.000000,0.030213,0.051788,0.129996,0.154515
interest_level,-0.013183,0.030213,1.000000,-0.005527,0.060237,0.019001
price,0.069661,0.051788,-0.005527,1.000000,0.024273,0.004559
features_count,0.230389,0.129996,0.060237,0.024273,1.000000,0.158999
photos_count,0.147980,0.154515,0.019001,0.004559,0.158999,1.000000

In [6]:
train = train[train['interest_level'].notnull()]

In [7]:
train['price'].dropna(inplace=True)
set1 = train[train['price'] < 3830]
set2 = train[train['price'] >= 3830]
set1.shape
set2.shape

(34610, 14)

(14742, 14)

In [8]:
from scipy import stats

In [9]:
stats.ttest_ind(set1['interest_level'], set2['interest_level'])

Ttest_indResult(statistic=5.298643571501954, pvalue=1.1716559094536672e-07)